body {
    background-color: white;
    background: linear-gradient(rgba(235, 229, 229, 0.959), rgb(237, 234, 234)100%);
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    color: red;
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms{
    align-items: center;
    display: flex;
    flex-direction: column;
}